.instrumentos-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre los elementos */
  }
  
 .item-venta {
  display: flex;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.imagen-instrumento {
  flex: none; /* Evita que la imagen se expanda */
  width: 25px; /* Establece el ancho deseado */
  margin-right: 10px; /* Agrega un espacio entre la imagen y el texto */
}

.imagen-instrumento img {
  width: 100%;
  height: auto;
}

.detalles-instrumento {
  flex: 1; /* Asegura que el texto ocupe el espacio restante */
  padding: 20px;
}

  
  .detalles-instrumento h2 {
    margin-top: 0;
  }
  
  /* Estilos adicionales según sea necesario */
  